<!DOCTYPE html>
<html>
  <head>
    <title>BoxandchipsSplash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex clearfix">
    <section class="col col-12 max-width-960 mx-auto">
      <%= render 'shared/nav' %>

      <%= yield %>
    <section>
  </body>
</html>
